<template>
  <Field
    v-if="field_type === FieldType.cell" :id="controller.get_id(pos)" :pos="pos"
    :content="controller.get_content(pos)" :puzzle="puzzle" :class="obtain_classes(pos)"
    @event="handle_event"
    @click.left.prevent.stop="handle_click(pos)"
  />
  <InnerField
    v-else-if="puzzle.get_field_type(pos) === FieldType.inner_border" :pic="puzzle.get_containing_pic(pos)"
    :pos="pos"
  />
  <td v-else-if="puzzle.get_field_type(pos) === FieldType.outer"/>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { FieldType, Position } from "../scripts/base_types";
import { Puzzle } from "../scripts/puzzle";
import InnerField from "./InnerField.vue";
import Field from "./Field.vue";
import { Controller, event } from "../scripts/controller";

export default defineComponent({
  name: "Cell",
  components: { InnerField, Field },
  props: {
    puzzle: {
      type: Object as PropType<Puzzle>,
      required: true,
    },
    pos: {
      type: Object as PropType<Position>,
      required: true,
    },
    controller: {
      type: Object as PropType<Controller>,
      required: true,
    },
    showSolution: { type: Boolean, default: false },
  },
  data() {
    return { FieldType: FieldType };
  },
  computed: {
    field(): unknown {
      return this.puzzle.get_field(this.pos);
    },
    field_type(): FieldType {
      return this.puzzle.get_field_type(this.pos);
    },
  },
  methods: {
    obtain_classes(pos: Position) {
      return {
        focussy: this.controller.is_focussy(pos),
        focused: this.controller.is_focused(pos),
        [this.controller.get_correctness(pos)]: true,
        show_solution: this.showSolution,
      };
    },
    handle_event(ev: event, ...args: string[]) {
      this.controller.handle_event(ev, ...args);
    },
    handle_click(ev: Position) {
      this.controller.click(ev);
    },
  },
});
</script>

<style lang="scss">
@import "../assets/variables";

$thin: 0.02em;
$thick: 0.15em;
$incorrect-color: change-color(crimson, $alpha: .3);
$correct-color: change-color(forestgreen, $alpha: .5);
$unkown-color: change-color(orange, $alpha: .5);

td.field {
  min-width: $td-size;
  min-height: $td-size;
  width: $td-size;
  height: $td-size;
  max-width: $td-size;
  max-height: $td-size;
  box-sizing: border-box;
  font-size: xx-large;
  padding: 0;

}

td.field.pic {
  position: relative;
}

td.field.cell {
  vertical-align: middle;
  border: gray solid $thin;

  &:not([colspan='1']) {
    overflow: auto;
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &.focussy {
    --light-focus-background: #{adjust-color(lightgray, $alpha: -0.4)};
    --dark-focus-background: #{adjust-color(gray, $alpha: -0.4)};

    @include color-scheme(focus-background);
    background-color: var(--focus-background);
  }

  &.focused {
    background-color: goldenrod;
  }

  div.content {
    --light-cell: #{adjust-color(white, $alpha: -0.8)};
    --dark-cell: #{adjust-color(black, $alpha: -0.8)};

    @include color-scheme(cell);

    background-color: var(--cell);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    position: relative;
    opacity: 1;

    .text {
      margin: auto;
    }

    .key {
      line-height: 100%;
      position: absolute;
      font-size: 0.4em;
      top: 0.15em;
      left: 0.15em;
    }
  }

  &.show_solution {
    &.incorrect>* {
      background: linear-gradient($incorrect-color, $incorrect-color);
    }

    &.correct>* {
      background: linear-gradient($correct-color, $correct-color);
    }

    &.unknown>* {
      background: linear-gradient($unkown-color, $unkown-color);
    }
  }
}

@each $dir in 'left',
'right',
'top',
'bottom' {
  td.cell.#{$dir} {
    border-#{$dir}: solid $thick;
  }
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  // Calculate the height and width as multiple of size of cells.
  width: calc(#{$td-size} * var(--width));
  height: calc(#{$td-size} * var(--height));
  ;
  z-index: -1;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
</style>
