<template>
  <td
    class="field cell" :class="{...field}" tabindex="0"
    :colspan="colspan" @keydown.prevent="onKey" @input.prevent="onInput"
    @focusin="onFocus" @paste.prevent
  >
    <div v-if="field" class="content" contenteditable>
      <span v-if="field.key" class="key" contenteditable="false">{{ field.key }}</span>
      <div class="text" contenteditable="false">
        {{ content }}
      </div>
    </div>
  </td>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {Field, Picture, Position} from "../scripts/base_types";
import {Puzzle} from "../scripts/puzzle";
import {event as ControllerEvent} from '../scripts/controller';

export default defineComponent({
  name: "Field",
  props: {
    content: {
      type: String,
      default: ' ',
    },
    puzzle: {
      type: Object as PropType<Puzzle>,
      required: true,
    },
    pos: {
      type: Object as PropType<Position>,
      required: true,
    },
  },
  emits: ['event'],
  computed: {
    field(): Field {
      return this.puzzle.get_field(this.pos) ?? {} as Field;
    },
    containing_pic(): Picture | undefined {
      return this.puzzle.get_containing_pic(this.pos);
    },
    colspan(): number {
      return this.containing_pic?.size.width ?? 1;
    },
  },
  methods: {
    onInput(event: InputEvent): void {
      // We do not actually want the content to be editable, that is only done to get the virtual keyboard on mobile.
      const target = event.target as HTMLElement;
      // Finds all text that belongs exactly to this node.
      target.childNodes.forEach((val) => {
        if (val.nodeType === 3) {
          val.textContent = null;
        }
      });
    },

    onFocus(event: FocusEvent): void {
      const target = event.target as HTMLElement;
      if (!target.classList.contains('text')) {
        const textcell = target.querySelector('.text') as HTMLElement | null;
        if (textcell) {
          textcell.focus();
        }
      }
    },

    onKey(event: KeyboardEvent): void {
      const letter_regex = /^[a-z]$/i;
      const arrow_regex = /^(arrow)?(left|right|up|down)/i;
      const arrow: RegExpMatchArray | null = event.key.match(arrow_regex);
      const simple_regexes: Array<[RegExp, ControllerEvent]> = [
        [/ |Tab/i, 'FORWARD'],
        [/Clear|Delete/i, 'CLEAR'],
        [/Backspace/i, 'BACK'],
        [/Enter/i, 'CHANGE_DIRECTION'],
      ];

      if (arrow !== null) {
        this.$emit('event', 'ARROW', arrow[2].toLowerCase());
      } else if (event.key.match(letter_regex)) {
        this.$emit('event', 'LETTER', event.key.toUpperCase());
      } else {
        for (const [reg, ev] of simple_regexes) {
          if (event.key.match(reg)) {
            this.$emit('event', ev);
          }
        }

      }
    },
  },
});
</script>

<style lang="scss">
</style>