<template>
  <td :colspan="pic.size.width" class="field pic">
    <div v-if="is_origin" class="picture" :style="`--width:${pic.size.width};--height:${pic.size.height}`">
      <img :src="pic.url" alt="Hier sollte ein Bild sein.">
    </div>
  </td>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {Picture, Position} from "../scripts/base_types";

export default defineComponent({
  name: "InnerField",
  props: {
    pic: {
      type: Object as PropType<Picture>,
      required: true,
    },
    pos: {
      type: Object as PropType<Position>,
      required: true,
    },
  },
  emits: ['event'],
  computed: {
    is_origin(): boolean {
      return this.pic.position.x === this.pos.x && this.pic.position.y === this.pos.y;
    },
  },
});
</script>

<style lang="scss">

</style>
