<template>
  <table class="puzzle">
    <tbody>
      <tr v-for="y in controller.yrange()" :key="y">
        <template v-for="x in controller.xrange()" :key="x">
          <Cell
            :puzzle="puzzle" :pos="{x,y}" :controller="controller"
            :show-solution="showSolution"
          />
        </template>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {Puzzle} from "../scripts/puzzle";
import {Controller} from "../scripts/controller";
import {FieldType, QuestionIdentifier} from "../scripts/base_types";
import Cell from "./Cell.vue";


export default defineComponent({
  name: "Puzzle",
  components: {Cell},
  props: {
    puzzle: {
      type: Object as PropType<Puzzle>,
      required: true,
    },
    focusedQuestion: {
      type: Object as PropType<QuestionIdentifier> | undefined,
      default: undefined,
    },
    showSolution: {type: Boolean, default: false},
  },
  emits: ["focus"],
  data() {
    return {
      controller: new Controller(this.puzzle, this.$emit, this.focusedQuestion),
      FieldType: FieldType,
    };
  },
  beforeUpdate() {
    this.controller.update_from_qid(this.focusedQuestion);
  },
});
</script>

<style lang="scss">
.puzzle {
  border-collapse: collapse;
}
</style>