<template>
  <div class="question_container">
    <span class="direction">{{ heading }}:</span>
    <template v-for="q in questions" :key="q.key">
      <div
        class="question" :class="{highlighted: highlighted === q.key}" :title="solution(q)"
        :data-key="q.key" @click="$emit('question', q.key)"
      >
        {{ q.question }}
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import {defineComponent, PropType} from "vue";
import {Question} from "../scripts/base_types";

export default defineComponent({
  name: 'QuestionText',
  props: {
    questions: {
      type: Object as PropType<Question[]>,
      required: true,
    },
    heading: {
      type: String,
      required: true,
    },
    highlighted: {
      type: Number,
      default: undefined,
    },
    showSolutions: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['question'],
  methods: {
    solution(q: Question) {
      if (this.showSolutions) {
        return q.description;
      } else {
        return '';
      }
    },
  },
});
</script>
<style lang="scss">
@import "../assets/variables";
.question {
  display: inline;
  margin-right: 1ch;
  hyphens: inherit;

  &::before {
    font-weight: bold;
    // Does not break between before and the div
    margin-right: 1ch;
    content: attr(data-key) ":";
  }

  &:not(:last-of-type)::after {
    // The space allows line break between this and the next div, without it, this doesn't happen.
    content: " ";
  }

  &.highlighted {
    --light-outline-color: firebrick;
    --dark-outline-color: limegreen;

    @include color-scheme(outline-color);
    outline: var(--outline-color) solid;
  }
}

.question_container {
  display: inline;
  hyphens: auto;

  .direction {
    font-weight: bold;
    font-style: oblique;
    margin-right: 2em;
  }
}
</style>