<template>
  <QuestionText
    :highlighted="highlight('horizontal')" :questions="puzzle.horizontal" :show-solutions="showSolution"
    heading="Horizontal" @question="key => $emit('question', {key, direction: 'horizontal'})"
  />
  <br>
  <hr>
  <br>
  <QuestionText
    :highlighted="highlight('vertical')" :questions="puzzle.vertical" :show-solutions="showSolution"
    heading="Vertikal" @question="key => $emit('question', {key, direction: 'vertical'})"
  />
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {Puzzle} from "../scripts/puzzle";
import QuestionText from "./QuestionText.vue";
import {direction, QuestionIdentifier} from "../scripts/base_types";

export default defineComponent({
  name: "Questions",
  components: {QuestionText},
  props: {
    puzzle: {type: Object as PropType<Puzzle>, required: true},
    focusedQuestion: {type: Object as PropType<QuestionIdentifier | undefined>, default: undefined},
    showSolution: {type: Boolean, default: false},
  },
  emits: ['question'],
  methods: {
    highlight(dir: direction): number | undefined {
      if (this.focusedQuestion?.direction === dir) {
        return this.focusedQuestion.key;
      }
      return undefined;
    },
  },
});
</script>

<style lang="scss">
</style>