<template>
  <template v-if="puzzle">
    <div>
      <div class="float_right">
        <Puzzle
          :puzzle="puzzle" :focused-question="focused_from_text" :show-solution="show_solution"
          @focus="set_table"
        />
      </div>
      <div class="button_row">
        <span>{{ puzzle.title }}</span>
        <button class="check_button" @click="show_solution=!show_solution">
          Prüfe
        </button>
      </div>
      <Questions
        :puzzle="puzzle" :focused-question="focused_from_table" :show-solution="show_solution"
        @question="set_text"
      />
    </div>
  </template>
  <div v-else>
    {{ replacement_text }}
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {Puzzle} from "./scripts/puzzle";
import PuzzleC from './components/Puzzle.vue';
import Questions from "./components/Questions.vue";
import {QuestionIdentifier} from "./scripts/base_types";
import {find_number} from "./scripts/helper";

export default defineComponent({
  name: 'App',
  components: {Puzzle: PuzzleC, Questions},
  data() {
    return {
      puzzle: null as Puzzle | null,
      replacement_text: "Warte auf Kreuzworträtsel, bitte Steh Bei.",
      focused_from_table: undefined as QuestionIdentifier | undefined,
      focused_from_text: undefined as QuestionIdentifier | undefined,
      show_solution: false,
    };
  },
  async created(): Promise<void> {
    try {
      this.puzzle = await Puzzle.get_puzzle(find_number());
    } catch (e) {
      this.replacement_text = e;
    }
  },
  methods: {
    set_text(qid: QuestionIdentifier) {
      this.focused_from_text = qid;
      this.focused_from_table = qid;
    },
    set_table(qid: QuestionIdentifier) {
      this.focused_from_table = qid;
      this.focused_from_text = undefined;
    },
  },
});
</script>

<style lang="scss">
@import "assets/variables";

$floaty-margin: 1.5em;

:root {
  --light-background: white;
  --light-foreground: black;
  --dark-background: #111;
  --dark-foreground: #ccc;

  @include color-scheme(background);
  @include color-scheme(foreground);

  background-color: var(--background);
  color: var(--foreground);
}

.float_right {
  margin-bottom: $floaty-margin;
  overflow: auto;
}

@media (min-width: $small-screen) {
  .float_right {
    float: right;
    margin-left: $floaty-margin;
  }
}

.button_row {
  margin-bottom: 1em;
  display: flex;
  font-size: larger;
  justify-content: space-between;

  span {
    text-decoration: underline;
  }

  button {
    font-size: inherit;
  }

  .check_button {
    color: inherit;
    background-color: inherit;

    border-radius: .2em;
    padding: .1em .4em;
    border-style: ridge;
    height: min-content;
  }
}
</style>
